/* For Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* For Selector*/
body {
    margin: 0;
    width: 1280px;
    height: 720px;
    background-color: #6b73e2;
}

main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 650px;
}

#picture {
    display: block;
    box-sizing: border-box;
    float: left;
    padding: 30px 160px;
    width: 500px;
    height: 300px;
}

#picture > img {
    width: 180px;
    height: 240px;
}

#summary {
    box-sizing: border-box;
    float: left;
    padding: 50px;
    width: 500px;
    height: 300px;
}

#summary > table {
    border-collapse: collapse;
}

.first_cell {
    box-sizing: border-box;
    padding-left: 20px;
    width: 125px;
    height: 40px;
    font-size: 20px;
    font-family: 'Staatliches', cursive;
}

.second_cell {
    box-sizing: border-box;
    padding-left: 20px;
    width: 275px;
    height: 40px;
    font-family: 'Sawarabi Mincho', serif;
}

#self_introduction {
    clear: both;
    float: left;
    box-sizing: border-box;
    padding: 50px;
    width: 500px;
    height: 300px;
}

#self_introduction > textarea {
    padding: 0;
    width: 400px;
    height: 200px;
    border: none;
    resize: none;
    font-size: 15px;
    background-color: transparent;
}

#self_introduction > textarea:focus,
#self_introduction > textarea:active,
#self_introduction > textarea:hover {
    border: none;
    outline: none;
}

#career {
    float: left;
    box-sizing: border-box;
    width: 500px;
    height: 300px;
    background-color: bisque;
}

#bottom {
    box-sizing: border-box;
    clear: both;
    padding: 0 450px;
    width: 1000px;
    height: 50px;
}

#bottom > p {
    margin: 0;
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    font-family: 'Dancing Script', cursive;
}

